{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Labels</h1>
<a href="{% url 'label_create' %}" class="btn btn-primary">Создать метку</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Created at</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.pk }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at }}</td>
            <td>
                <a href="{% url 'label_update' label.pk %}">Редактировать</a>

                <a href="{% url 'label_delete' label.pk %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}