{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Tasks</h1>
<a href="{% url 'task_create' %}" class="btn btn-primary">Create task</a>
<div class="card mb-3">
    <div class="card-body bg-light">
      <form class="form-inline center" method="get">
        <div class="mb-3">
          <label class="form-label" for="id_status">Статус</label>
          <select name="status" class="form-select ml-2 mr-3 is-valid" id="id_status">
            <option value="">---------</option>
            {% for status in statuses %}
              <option value="{{ status.id }}" {% if status.id == selected_status %}selected{% endif %}>
                {{ status.name }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="id_executor">Исполнитель</label>
          <select name="executor" class="form-select mr-3 ml-2 is-valid" id="id_executor">
            <option value="">---------</option>
            {% for executor in executors %}
              <option value="{{ executor.id }}" {% if executor.id == selected_executor %}selected{% endif %}>
                {{ executor }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="id_label">Метка</label>
          <select name="label" class="form-select mr-3 ml-2 is-valid" id="id_label">
            <option value="">---------</option>
            {% for label in labels %}
              <option value="{{ label.id }}" {% if label.id == selected_label %}selected{% endif %}>
                {{ label.name }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="id_my_tasks" name="my_tasks" value="1" 
          {% if selected_my %}checked{% endif %}>
          <label class="form-check-label" for="id_my_tasks">Мои задачи</label>
        </div>
        <button type="submit" class="btn btn-primary">Фильтровать</button>
      </form>
    </div>
  </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Author</th>
            <th scope="col">Executor</th>
            <th scope="col">Created at</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.pk }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.executor }}</td>
                <td>{{ task.created_at }}</td>
                <th>
                    <a href="{% url 'task_update' task.pk %}">Edit</a>
                    &nbsp;
                    <a href="{% url 'task_delete' task.pk %}">Delete</a>
                </th>

            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}