{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="mb-4">Tasks</h1>
<a href="{% url 'task_create' %}" class="btn btn-primary mb-3">Create task</a>

<form method="get">
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-primary mt-3">Filter</button>
</form>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Author</th>
                <th scope="col">Executor</th>
                <th scope="col">Created at</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in filter.qs %}
                <tr>
                    <td>{{ task.pk }}</td>
                    <td><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.author }}</td>
                    <td>{{ task.executor }}</td>
                    <td>{{ task.created_at }}</td>
                    <td>
                        <a href="{% url 'task_update' task.pk %}">Edit</a>
                        &nbsp;
                        <a href="{% url 'task_delete' task.pk %}">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No tasks found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
